@use './variables' as vars;

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  @media (min-width: vars.$width-tablet) {
    background: vars.$background-color;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  white-space: pre;
  color: black;
  background-color: #dedede;
  overflow-x: auto;

  &.u-display-block {
    padding: 1rem;
  }
}

.u-display-block {
  display: block !important;
}
