@use 'variables' as vars;
@use 'mixins';

.main {
  max-width: vars.$width-desktop;
  margin: 0 auto;
}

.avatar {
  display: block;
  border-radius: 100%;
  margin: 2rem auto 0 auto;
  padding: 8px;
  background-color: #000000;
}

.content {
  padding-top: 1.25rem !important;
  display: grid;
  grid-template-areas:
    'title linkedin github'
    'summary summary summary';
  grid-template-columns: 1fr auto auto;
  gap: 0.5rem;
}

.title {
  align-self: center;
  grid-area: title;
}

.linkedin {
  grid-area: linkedin;
  padding: 8px;
  display: flex;

  @include mixins.focus-styles;
}

.github {
  grid-area: github;
  padding: 8px;
  display: flex;

  @include mixins.focus-styles;
}

.summary {
  font-size: 1.2rem;
  grid-area: summary;
}
