@use 'variables' as vars;
@use 'mixins';

.main {
  max-width: vars.$container-width;
  margin: 0 auto;
}

.avatarContainer {
  display: flex;
  margin-top: 2rem;
}

.avatar {
  border-radius: 100%;
  margin: 0 auto;
  padding: 2px;
  background-color: #ffffff;
}

.titlebar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  justify-content: center;
  margin-right: auto;
}

.linkedin .github {
  padding: 8px;
  display: flex;

  @include mixins.focus-styles;
}

.summary {
}
