.avatarContainer {
  display: flex;
  margin-top: 2rem;
}

.avatar {
  border-radius: 100%;
  margin: 0 auto;
  padding: 2px;
  background-color: #000000;
}

.title {
  justify-content: center;
}

.summary {
}
