@use '../app/variables' as vars;
@use '../app/mixins';

.main {
  max-width: vars.$width-desktop;
  margin: 2rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    margin: 0.5rem 0 1rem 0;
  }

  @include mixins.card;

  @media (min-width: vars.$width-tablet) {
    @include mixins.card;
  }

  @media (min-width: calc(vars.$width-desktop + 4rem)) {
    margin: 2rem auto;
  }
}

.date {
  font-weight: bold;
}
