@use '../app/mixins';

.experienceHeading {
  margin-top: 0.5rem;

  @media print {
    font-size: 14px !important;
    margin-top: 4px !important;
  }
}

.printGroup {
  @media print {
    break-inside: avoid;
  }
}

.experienceBullets {
  padding-left: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}
