@use '../app/mixins';

.navLink {
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;

  @include mixins.focus-styles;
}

.active {
  text-decoration: underline;
  background-color: #0f271a;
}
