@use '../app/variables' as vars;

.header {
  background-color: #1b4b31;
  color: #ffffff;
  font-weight: bold;
  padding: 8px;

  @media (min-width: vars.$width-tablet) {
    padding: 8px 2rem;
  }

  @media print {
    display: none;
  }
}

.nav {
  display: flex;
  max-width: calc(vars.$width-desktop - 2rem);
  margin: 0 auto;
  gap: 8px;
}
