.contact-info {
    display: grid;
    grid-template-columns: 1.4rem 1fr;
    font-size: 0.8rem;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    align-items: center;
}

.contact-info__phone-icon,
.contact-info__mail-icon,
.contact-info__github-icon,
.contact-info__location-icon {
    height: 1.4rem;
    width: 1.4rem;
}

address {
    white-space: pre;
    font-style: normal;
}